<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/homePage.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    <script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script>
</head>

<body>

    <!-- nav bar -->

    <!-- ------------------------------------------------------------------------------------------------------------ -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navigation">
        <div class="container-fluid">
            <a href="/homePage" class="brandimg">
                <img src="../views/money-bag.png" width="40px" height="40px" id="png" />
            </a>
            <a class="navbar-brand" href="/homePage">Expense Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent"
                aria-controls="navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/homePage">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="hstack gap-2">
                            <a id="reportLink" class="nav-link active" aria-current="page" href="#"
                            onclick="onClickAlert()">
                                Reports &#128081
                           </a>
                            <span>
                                <img src="../views/diamond.png" width="40px" height="40px" id="premiumpng" />
                            </span>
                          </div>  
                    </li>
                    <li class="nav-item">
                        <div class="hstack gap-2">
                            <a id="leaderboardLink" class="nav-link active" aria-current="page" href="#" onclick="onClickAlert()">
                                LeaderBoard &#128081
                           </a>
                            <span>
                                <img src="../views/diamond.png" width="40px" height="40px" id="premiumpng" />
                            </span>
                          </div> 
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="#" class="premiumIcon">
                        <img src="../views/diamond.png" width="40px" height="40px" id="premiumpng" />
                    </a>
                    <button id="buyPremiumBtn" class="btn btn-light" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                        title="Premium Membership includes access to LeaderBoard & Daily, Monthly, Yearly Reports">
                        Buy Premium &#128081
                    </button>
                    <button class="btn btn-light" type="button">Logout</button>
                </div>
            </div>
        </div>
    </nav>

    <!-- add expense form  -->
    
    <!-- ------------------------------------------------------------------------------------------------------------ -->


    <form
    id="form1"
    class="d-flex p-2 descriptionform"
    onsubmit="return false;">

    <div class="input-group mb-3 d-flex m-4">
      <span class="input-group-text" id="dateLabel">Date</span>
      <input type="date" id="dateInput" class="form-control" placeholder="DD-MM-YYYY" aria-label="Date" aria-describedby="dateLabel">
  </div>

    <div class="input-group mb-3 d-flex m-4 categorydiv" id="category">
      <button
        class="dropdown-toggle categoryBtn"
        type="button"
        name="category"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        id="categoryBtn"
      >
        Select Category
      </button>
      <ul
        class="dropdown-menu"
        id="categoryMenu"
        aria-labelledby="categoryBtn"
      >
        <li class="dropdown-item" data-value="Mobile & Computers">
          Mobile & Computers
        </li>
        <li class="dropdown-item" data-value="Fashion & Beauty">
          Fashion & Beauty
        </li>
        <li class="dropdown-item" data-value="Groceries & Pet Supplies">
          Groceries & Pet Supplies
        </li>
        <li class="dropdown-item" data-value="Home, Furniture & Appliances">
          Home, Furniture & Appliances
        </li>
        <li class="dropdown-item" data-value="Music, Video & Gaming">
          Music, Video & Gaming
        </li>
        <li class="dropdown-item" data-value="Books & Education">
          Books & Education
        </li>
        <li class="dropdown-item" data-value="Toys, Children & Baby">
          Toys, Children & Baby
        </li>
        <li class="dropdown-item" data-value="Payments & Bookings">
          Payments & Bookings
        </li>
        <li class="dropdown-item" data-value="Automotive">Automotive</li>
        <li class="dropdown-item" data-value="Office & Professional">
          Office & Professional
        </li>
        <li class="dropdown-item" data-value="Sports, Outdoor & Travel">
          Sports, Outdoor & Travel
        </li>
        <li class="dropdown-item" data-value="Gifting">Gifting</li>
        <li class="dropdown-item" data-value="Bills & EMI's">
          Bills & EMI's
        </li>
        <li class="dropdown-item" data-value="Others">Others</li>
      </ul>
      <input
        type="hidden"
        name="category"
        value="default_value"
        id="categoryInput"
      />
    </div>

    <!--******************************************************************* -->
    <!-- Decsiption -->
    <div class="input-group mb-3 d-flex m-4 descriptiondiv" id="descriptiond">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Description</span
      >
      <input
        type="text"
        id="descriptionValue"
        name="description"
        class="form-control descriptioninput"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>

    <!--  ****************************************************************** -->
    <!-- Amount -->

    <div class="input-group mb-3 d-flex m-4" id="amount">
      <span class="input-group-text">Amount</span>
      <span class="input-group-text"> &#8377;</span>
      <input
        type="text"
        name="amount"
        class="form-control amountinput"
        aria-label="Dollar amount (with dot and two decimal places)"
        id="amountValue"
      />
    </div>

    <!--     ********************************************************************************* -->
    <!-- Add Expense Btn-->
    <div class="mb-3 d-flex m-5" id="submit">
      <button type="submit" class="addexpensebtn" id="submitBtn">
        Add Expense
      </button>
    </div>
  </form>

  <!-- --------------------------------------------------------------------------------- -->
    <!-- Table -->

    <div class="container mt-4 p-3 tablecontainer " id="table">
        <table id="example" class="table table-hover tableElement" style="width:100%">
  
          <!-- ------------------------------------------------------------------------- -->
          <!-- table head -->
          <thead id="tableHead">
            <tr>
              <th scope="col" class="rounded-start">Date</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th scope="col" class="rounded-end"></th>
            </tr>
          </thead>
  
          <!-- ------------------------------------------------------------------------- -->
            <!-- table body -->
  
          <tbody id="tbodyId">
            <!-- <tr class="trStyle">
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>
                <button class="editDelete btn btn-danger">Delete</button>
                <button class="editDelete btn btn-secondary">Edit</button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    
      <script src="../js/homePage.js"></script>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      <script>
        function onClickAlert() {
          alert("Buy Premium to acess this feature")
        }
      </script>

</body>

</html>