<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login and Signup Page</title>
</head>
<body>

<div class="container">
  <div><h1>Beaware of little expenses. A small leak will sink a great ship.</h1></div>
  <div class="inner-container">
    <div class="form-container">
        <form id="login-form" action="/user/login" method="post">
          <div class="greetings">
            <h3>Welcome Existing User!</h2>
            <p>Login to see and manage your expenses</p>
          </div>
            <h1>Login</h2>
            <input type="text" id="login-username" placeholder="Email"  name="loginEmail" required>
            <input type="password" id="login-password" placeholder="Password"  name="loginPassword" required>
            <button type="button" onclick="toggleForm()">Switch to Sign Up</button>
            <button type="submit">Login</button>
        </form>

        <form id="signup-form" style="display: none;" action="/user/signup" method="POST">
          <div class="greetings">
          <h3>Welcome New User!</h2>
          <p>Create an account to start managing your expenses</p>
        </div>
            <h1>Create Account</h2>
            
            <input type="text" id="signup-username" placeholder="Name" name="name">
       
            <input type="email" placeholder="Email"  id="signup-email" name="email"/>
          
            <input type="password" id="signup-password" placeholder="Password" name="password" required>
            <button type="button" onclick="toggleForm()">Switch to Login</button>
            <button>Sign Up</button>
        </form>
    </div>
  </div>
</div>

<script src="../js/login.js"></script>
</body>
</html>
