
body{
    background-color: bisque;
} 

.h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.navbar {
    background-color: brown !important;
    padding: 15px;
}

.brandimg {
    margin: 10px;
}

.navbar-brand {
    margin-right: 20px;
}

.navbar-toggler {
    margin-right: 20px;
}


.navbar-nav {
    margin-right: auto; 
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: white;
}


.premiumIcon {
    margin-right: 10px;
}


.btn-light {
    margin-right: 10px;
}

.tooltip-inner {
    background-color: brown;
    color: white;
}
.categoryBtn{
    background-color: brown;
    color: white;
    border-radius: 10px;
    border: 2px solid brown;
    width: 20vw;
    font-size: large;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.descriptionform{
    background-color: white;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px brown;

}
.input-group-text{
    background-color: brown;
    color: white;
    font-size: large;
    border: 2px solid brown;
}
.addexpensebtn{
    background-color: brown;
    color: white;
    border-radius: 10px;
    border: 2px solid brown;
    width: 10vw;
    padding: 5px !important;
    transition: 0.5s ease;
}
.addexpensebtn:hover{
    transform: scale(1.05);
}
.addexpensebtn:focus{
    transform: scale(0.95);
}
.amountinput,.descriptioninput{
    width: 25vw !important;
}
