html,
body {
  height: 100%;
  width: 100%;
  background-color: bisque;
}
th, td {
  padding: 5px;
  text-align: center;
  background-color:white!important;
  color: brown !important;
  text-align: center !important;
  font-size: large;
}

.editDelete {
  float: right;
  margin: 3px;
  padding: 3px 10px;
}
#png {
  margin-right: 10px;
}
#navigation {
  background-color: brown;
  padding: 15px;
}

#table {
  border-radius: 10px;
  background-color: white;
  color: brown;
  /* background-image: linear-gradient(to bottom right, #c7e9fd, #3d5a80); */
  box-shadow: 4px 4px 9px brown;
}

.showBtn {
  width: 80px;
  background-color: brown;
  border-color: brown;
  color: white;
}
#year-input {
  background-color: white;
  width: auto;
  border: 1px;
  border-radius: 7px;
  color: #293241;
  padding: 7px;
  margin: 7px -4px;
}

#category {
  width: 300px;
}
.input-group-text {
  background-color: #293241;
  color: white;
  border: none;
}
#description {
  width: 2000px;
}

.trStyle {
  background-color: white;
  color : brown !important;
}
#categoryBtn:hover,
#submitBtn:hover,
.editDelete:hover,
.showBtn:hover {
  background-color: white;
  border-color: brown;
  color : brown;
}

.editDelete {
  background-color: brown;
  border: none;
}
tr {
    color: brown;
}
#date{
    color: brown;
}
#month{
    color: brown;
}
#year-input{
    color: brown;
}
#downloadReportBtn {
  background-color: brown;
  border-color: brown;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;

}

#downloadReportBtn:hover {
 transform: scale(0.99);
}
.historyTableContainer{

  border-radius: 10px;
  background-color: white;
  color: brown;
  /* background-image: linear-gradient(to bottom right, #c7e9fd, #3d5a80); */
  box-shadow: 4px 4px 9px brown;

}

#downloadHistoryBtn {
  background-color: brown;
  border-color: brown;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;

}
#downloadHistoryBtn:hover {
 transform: scale(0.99);
}

@media (max-width:992px) {

  #downloadReportBtn {
    background-color: brown;
    border-color: brown;
    color: white;
    border-radius: 10px;
    padding: auto;
    transition: 0.3s ease-in-out;
    font-size: small !important;
  
  }

  #downloadHistoryBtn {
    background-color: brown;
    border-color: brown;
    color: white;
    border-radius: 10px;
    padding: auto;
    transition: 0.3s ease-in-out;
    font-size: small !important;
  
  }
  
}

#reportLink {
  border-bottom: none;
  transition: 0.3s ease-in-out;
}
#reportLink:hover{
  border-bottom: 3px solid white;
  transform: scale(1.1);
}

#leaderboardLink {
  border-bottom: none;
  transition: 0.3s ease-in-out;
}
#leaderboardLink:hover{
  border-bottom: 3px solid white;
  transform: scale(1.1);
}

#homeLink {
  border-bottom: none;
  transition: 0.3s ease-in-out;
}
#homeLink:hover{
  border-bottom: 3px solid white;
  transform: scale(1.1);
}
#premiumBtn,#logoutBtn {
  background-color: white;
  padding: 10px !important;
  border-radius: 10px !important;
  color:brown;
  transition: 0.3s ease;
}
#premiumBtn:hover{
  transform: scale(1.1);
}
#logoutBtn:hover{
  transform: scale(1.1);
}

