.form-gap {
    padding-top: 70px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: bisque;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
  }
  
  .resetPassword {
    color : brown;
  }
  
  .panel {
   border-radius: 20px !important;
  }

  #resetPasswordBtn {
    background-color: brown;
    color : white;
    border-color: brown;
    transition: 0.3s ease;
  }
  #resetPasswordBtn:hover{
    transform :scale(0.95)
  }

  #resetPasswordLinkBtn {
    background-color: brown;
    color : white;
    border-color: brown;
    transition: 0.3s ease;
  }
  #resetPasswordLinkBtn:hover{
    transform :scale(0.95)
  }